
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    line-height: 1.6;
}

header {
    background-color: grey;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

header .logo {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1em;
}

  
main {
    padding: 20px;
    max-width: 1720px;
    margin: 0 auto;
}

i{
    margin-right: 7px;
}

  
#buscador {
    text-align: center;
    width: 70%;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 16px;
}



#peliculas{
    text-align: center;
}

  
.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 350px;
    text-align: center;
    margin: 10px;
    display: inline-block; 
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.card h3 {
    margin: 15px 0;
    font-size: 18px;
    color: black;
    padding: 0 10px; 
}

.card-footer button {
    margin: 0;
    background-color: grey;
    color: white;
    padding: 13px 14px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.card-footer{
    justify-content: space-between;
    padding: 20px 10px;
    display: flex;
}
.card-footer i{
    margin-right: 3px;
}

  
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;/* Se oculta por defecto */
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.modal.mostrar {
    display: flex;
}


.modal-content img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin: 15px auto;
}


.modal-content button {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}




.card button{
    margin: 5px 0 15px 0;
    background-color: grey;
    color: white;
    padding: 13px 14px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}






.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#favoritos{
    text-align: center;
}





@media (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: 10px 0;
    }
}